@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 1rem 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardWrapper {
  width: 200px;
  /* flex: 1 0 auto; */
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 5.7px 3.6px 30.6px rgba(0, 0, 0, 0.048),
    32px 20px 80px rgba(0, 0, 0, 0.14);
  transition: all 300ms;
}

.cardWrapper:hover {
  transform: scale(1.02);
}

.cardImage {
  /* height: 300px; */
  height: auto;
  overflow: hidden;
}

.cardImage img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.movieDetails {
  width: inherit;
  height: 70px;
  padding: 5px 10px 0;
  overflow: auto;
  flex-direction: column;
  text-overflow: ellipsis;
  font-size: 0.85rem;
}

.movieDetails p {
  margin: auto 0;
  text-align: center;
  color: teal;
}

.closeBtn {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  z-index: 5;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.closeBtn:hover {
  color: red;
}

.infoModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.infoModal::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.774);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
.poster {
  position: relative;
  width: 300px;
  /* max-width: 500px; */
  height: 70%;
  margin: 20px;
  background: #fff;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoDetails {
  position: relative;
  width: 400px;
  max-width: 600px;
  margin: auto 20px;
  color: #fff;
  z-index: 3;
}

@media screen and (max-width: 463px) {
  .cardWrapper {
    width: 100%;
  }
}
